<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Narcotics</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginAdmin</display-name>
    <servlet-name>LoginAdmin</servlet-name>
    <servlet-class>LoginAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginAdmin</servlet-name>
    <url-pattern>/LoginAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ZoneRegister</display-name>
    <servlet-name>ZoneRegister</servlet-name>
    <servlet-class>ZoneRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ZoneRegister</servlet-name>
    <url-pattern>/ZoneRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginZone</display-name>
    <servlet-name>LoginZone</servlet-name>
    <servlet-class>LoginZone</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginZone</servlet-name>
    <url-pattern>/LoginZone</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StoreRegister</display-name>
    <servlet-name>StoreRegister</servlet-name>
    <servlet-class>StoreRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StoreRegister</servlet-name>
    <url-pattern>/StoreRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Loginstore</display-name>
    <servlet-name>Loginstore</servlet-name>
    <servlet-class>Loginstore</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Loginstore</servlet-name>
    <url-pattern>/Loginstore</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>docregister</display-name>
    <servlet-name>docregister</servlet-name>
    <servlet-class>docregister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>docregister</servlet-name>
    <url-pattern>/docregister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logindoc</display-name>
    <servlet-name>Logindoc</servlet-name>
    <servlet-class>Logindoc</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logindoc</servlet-name>
    <url-pattern>/Logindoc</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Createpric</display-name>
    <servlet-name>Createpric</servlet-name>
    <servlet-class>Createpric</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Createpric</servlet-name>
    <url-pattern>/Createpric</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Inventryadmin</display-name>
    <servlet-name>Inventryadmin</servlet-name>
    <servlet-class>Inventryadmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Inventryadmin</servlet-name>
    <url-pattern>/Inventryadmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Inventryzone</display-name>
    <servlet-name>Inventryzone</servlet-name>
    <servlet-class>Inventryzone</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Inventryzone</servlet-name>
    <url-pattern>/Inventryzone</url-pattern>
  </servlet-mapping>
</web-app>